ul li {
    list-style: none;
}


.table {
    margin-top: 10px;
}

.table th {
    background-color: #808080;
}

.spacer {
    height: 200px;
    width: 100%;
}

.table-responsive {
    overflow: auto;
}

.table-responsive .table {
    width: 2000px;
}

.controls {
    text-align: center;
    align-items:center;
}

.tabs {
    border: 1px solid grey;
}